<h1> Welcome to <i>Inspiration</i> </h1>

	<button id='quoteGETJSON' onclick="one()">get Quote</button>
	<hr>
	<div class="quote" style="font-size:24px;font-weight:600" id="response"></div>
	<div class="quote" id="log"></div>